.particles {
    position: fixed;
    top: 0;
    width 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: #000000f5;
}

.w-64 {
    width: 16rem;
    background-color: #0e0e0e;
}

.w-full {
    width: 100%;
    background-color: #141414;
    border: none;
}

.text-gray-300 {
    --tw-text-opacity: 1;
    color: #991b1b;
    font-size: 13px;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    border-color: #991b1b;
    color: #991b1b;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: #9ca3af;
}

.shadow-md {
    background-color: #0e0e0e;
    border: none;
}

.border-b-2 {
    color: #7d828c;
    background-color: #0e0e0e;
    border: none;
}
.absolute {
    position: absolute;
    background-color: #141414;
}

.relative {
    position: relative;
    border: none;
}

.align-middle {
    vertical-align: middle;
    color: #991b1b;
}


.bg-white {
    --tw-bg-opacity: 1;
    background-color: #0e0e0e;
}

.btn-bg-middle {
    background-color: #181717;
}

.bg-blue-300 {
    --tw-bg-opacity: 1;
    background-color: #181717;
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: #991b1b;
}
